body {
  height: 100vh;
  width: 100vw;
}

footer {
  background-color: rgb(54, 211, 14);
  bottom: 0;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  position: fixed;
  width: 100vw;
}

.altSvg {
  filter: invert(100%);
}
