.recipe-recom {
  text-align: center;
  width: 100%;
}

.carousel-inner {
  border: 1px solid #eee;
  box-shadow: 2px 8px 20px #ddd;
  flex-direction: row;
  height: 360px;
  padding: 10px;
  text-align: center;
  transition: 0.5s linear;
  width: 300px;
}

.recomendation-container {
  padding-bottom: 60px;
}

.category {
  color: rgb(126, 134, 134);
  margin: 0 auto;
  padding-top: 2px;
}

.name {
  color: rgb(54, 211, 14);
  font-size: 20px;
  font-weight: 900;
  margin: 0 auto;
}

.carousel-indicators {
  margin: 0 auto;
  position: absolute;
}
