body {
  font-family: Montserrat , sans-serif;
  margin: 0;
}

.recipes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
}

.recipe-card {
  border: 1px solid #eee;
  box-shadow: 2px 8px 20px #ddd;
  display: inline-block;
  flex-direction: row;
  margin: 10px;
  min-height: 150px;
  min-width: 150px;
  overflow: hidden;
  padding: 10px;
  transition: 0.5s linear;
  width: 150px;
}

a:link {
  text-decoration: none;
}

.card-name {
  align-items: center;
  bottom: 0;
  color: rgb(54, 211, 14);
  display: flex;
  flex-direction: column;
  font-weight: 900;
  margin: 0 auto;
  padding-top: 2px;
  text-align: center;
}

.recipe-card:hover {
  box-shadow: none;
}

.recipe-card img {
  display: flex;
  margin: 0 auto;
  width: 100%;
}
